@{
    ViewData["Title"] = "Home Page";
}
<h1>Price Quotation</h1>
<div>
    <label>Subtotal: </label>
    <input type="text" />
</div>
<div>
    <label>Discount percent: </label>
    <input type="text" />
</div>
<div>
    <label>Discount amount:</label>
    <p></p>
</div>
<div>
    <label>Total:</label>
    <p></p>
</div>
<div>
    <button>Calculate</button>
    <p>Clear</p>
</div>

