@model CPW219_PriceQuotationApp.Models.Price

@{
    ViewData["Title"] = "PriceQuote";
}

<h1 class="header">Price Quotation</h1>
<div>
    <div>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label class="column1">Subtotal:</label>
                <input asp-for="Subtotal" value="" class="column2"/>
                <span asp-validation-for="Subtotal"></span>
            </div>
            <div>
                <label class="column1">Discount percent:</label>
                <input asp-for="DiscountPercent" type="text" value="" class="column2"/>
                <span asp-validation-for="DiscountPercent"></span>
            </div>
            <div>
                <label class="column1">Discount amount:</label>
                <span class="column2">@Model.DiscountAmount.ToString("C")</span>
                <span asp-validation-for="DiscountAmount"></span>
            </div>
            <div>
                <label class="column1">Total:</label>
                <span class="column2">@Model.Total.ToString("C")</span>
                <span asp-validation-for="Total"></span>              
            </div>
            <div class ="column1">
                <input type="submit" value="Calculate"/>
                <a asp-action="Index">Clear</a>
            </div>
        </form>
    </div>
</div>


